body {
    background-image : url("asset/background1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    justify-content: center;
    min-height: 100vh !important;
    min-width: 100%;
    font-family: "CustomFonts", sans-serif;
    text-align: center;
    overflow: hidden;
 }

 @font-face {
    font-family: "CustomFonts";
    src: url("asset/minecraftpx.ttf");
}

a {
    color: #2f2f2f;
    font-size: 15px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;  
}

#menutext {
    width: 2.5em;
    padding-left: 20px;
    transition: transform .2s;
    margin: 0 auto;
}

#menutext:hover {
    transform: scale(1.5);
    text-decoration: none;
}

#menutext1 {
    width: 2.5em;
    font-size: 1.5em;
    padding-right: 15px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    transform: scale(1.5);
    color: #6d6d6d;
  }
  
  a:active {
    text-decoration: underline;
    color: yellow;
}

#menu {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
}

#coinstats {
    justify-content: center;
    align-items: center;
    height: 80px;
    display: flex;
}

#clicks {
    font-size: 2em;
    padding-top: 8px;
    color: #d6c91f;
    text-shadow: -2px 2px 0 #000000, 2px 2px 0 #000000, 2px -2px 0 #000000, -2px -2px 0 #000000, 0 2px 0 #000000, 0px -2px 0 #000000;
}

#coinlogo {
    width: 2.5em;
    padding: 5px;
}

#showshop {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}