body {
    background-image : url("asset/background1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    justify-content: center;
    min-height: 100vh !important;
    min-width: 100%;
    font-family: "CustomFonts", sans-serif;
    text-align: center;
    overflow: hidden;
 }

 @font-face {
    font-family: "CustomFonts";
    src: url("asset/minecraftpx.ttf");
}

@media only screen and (max-width: 767px) {
    #shop {
        max-height: 600px;
        width: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #upgradescontent,
    #autoclickercontent,
    #multiplycontent {
        margin-bottom: 10px;
  }
}

a {
    color: #2f2f2f;
    font-size: 15px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;  
}

#menutext {
    width: 2.5em;
    padding-left: 20px;
    transition: transform .2s;
    margin: 0 auto;
}

#menutext:hover {
    transform: scale(1.5);
    text-decoration: none;
}

#menutext1 {
    width: 2.5em;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    transform: scale(1.5);
    color: #6d6d6d;
  }
  
  a:active {
    text-decoration: underline;
    color: yellow;
}

#menu {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    height: fit-content;
}

#coinstats {
    justify-content: center;
    align-items: center;
    height: 80px;
    display: flex;
}

#clicks {
    font-size: 2em;
    padding-top: 8px;
    color: #d6c91f;
    text-shadow: -2px 2px 0 #000000, 2px 2px 0 #000000, 2px -2px 0 #000000, -2px -2px 0 #000000, 0 2px 0 #000000, 0px -2px 0 #000000;
}

#coinlogo {
    width: 2.5em;
    padding: 5px;
}

#showshop {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

#gedungs {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width:50px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* Add any other custom styles you want here */
  }

#shop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7ffcc5c;
    border-radius: 20px;
  }

#isishop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  #isishop > .col-sm-12 {
    text-align: center;
  }

#upgradescontent {
    border: 3px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 20px;
    position: relative;
}

#autoclickercontent {
    border: 3px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 20px;
    position: relative;
}

#multiplycontent {
    border: 3px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 20px;
    position: relative;
}
